{% extends 'base.html' %}
{% load static %}


{% block content %}

  <style>

        .checked {
    color: orange;
}
.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}



	</style>
    <div style="text-align:center;padding:40px;background:url(&quot;/static/assets/img/hotel3.jpg&quot;)no-repeat;background-size:cover;">
        <div class="jumbotron" style="border-radius:20px;padding:40px;background:rgba(255,255,255,0.75);margin:auto;width:450px;height:auto; margin-top:30px;">
            <h3>Share your experience with others</h3>
            <form method="post" id="commentform">
                {% csrf_token %}
                <textarea class="form-control" style="resize:none" form="commentform" name="comment" style="height:90px;"></textarea>
                <button class="btn btn-default" type="submit">Submit Comment</button>
            </form>
        </div>

        <div class="jumbotron" style="border-radius:20px;padding:10px;background:rgba(255,255,255,0.75);margin:auto;width:200px;height:auto;margin-top:20px;">
            <h3>Rate Us!</h3>
            <form method="post" action="/rating/">
                {% csrf_token %}
             <div class="rating" style="margin: auto;font-size:30px;">
            <input name="rating" type="radio" value="0" hidden checked />
            <input id="star5" name="rating" type="radio" value="5" class="radio-btn hide" />
            <label for="star5">☆</label>
            <input id="star4" name="rating" type="radio" value="4" class="radio-btn hide" />
            <label for="star4">☆</label>
            <input id="star3" name="rating" type="radio" value="3" class="radio-btn hide" />
            <label for="star3">☆</label>
            <input id="star2" name="rating" type="radio" value="2" class="radio-btn hide" />
            <label for="star2">☆</label>
            <input id="star1" name="rating" type="radio" value="1" class="radio-btn hide" />
            <label for="star1">☆</label>
            <div class="clear"></div>
        </div>
                <button class="btn btn-default" type="submit">Submit Rating</button>
            </form>
        </div>
    </div>
    <div class="testimonials-clean">
        <div class="container">
            <h2 class="text-center">What others have to say about us</h2>
            <div class="row people">
            {% for comment in comments %}
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <p class="description">{{ comment.comment }}</p>
                    </div>
                    <div class="author">

                        {% if comment.user.profile.profilePicture == null %}
                            <img class="img-circle" src="/static/assets/img/profile.png">
                        {% else %}
                            <img class="img-circle" src="{{ comment.user.profile.profilePicture.url }}">
                        {% endif %}

                        <h5 class="name">{{ comment.user.first_name }}</h5>
                        <p>
                        {% with ''|center:comment.user.profile.Rating as range %}
                        {% for _ in range %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% endwith %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/myjs.js' %}"></script>
{% endblock %}