{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Hotel</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link href="/static/base/css/ct-navbar.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default navigation-clean-button" style="background-color:#4f86c3;">
        <div class="container">
            <a class="navbar-brand navbar-brand-logo" href="">
                    <div>
                    <img src="/static/base/images/cloud.png" style="height:50px;width:50px;">
					Cloud Hotel
					</img>
                    </div>
              </a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"></ul>
                <p class="navbar-text navbar-right actions"><a class="navbar-link login" href="/login" style="color:#ffffff;">Log In</a> <a class="btn btn-default action-button" role="button" href="/signup">Sign Up Now To Book a Room!</a></p>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div data-ride="carousel" class="carousel slide" id="carousel-1" style="width:821px;height:350px;">
    <div role="listbox" class="carousel-inner" style="width:inherit;height:inherit;">
        <div class="item active" style="width:inherit;height:inherit;"><img src="{% static 'assets/img/hotel3.jpg' %}" alt="Slide Image" /></div>
        <div class="item" style="width:inherit;height:inherit;"><img src="{% static 'assets/img/b2.jpg' %}" alt="Slide Image" /></div>
        <div class="item" style="width:inherit;height:inherit;"><img src="{% static 'assets/img/c3.jpg' %}" alt="Slide Image" /></div>
        <div class="item" style="width:inherit;height:inherit;"><img src="{% static 'assets/img/r1.jpg' %}" alt="Slide Image" /></div>
        <div class="item" style="width:inherit;height:inherit;"><img src="{% static 'assets/img/b1.jpg' %}" alt="Slide Image" /></div>
    </div>
    <div><a href="#carousel-1" role="button" data-slide="prev" class="left carousel-control"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
        <a href="#carousel-1" role="button" data-slide="next" class="right carousel-control"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>
</div>
        </div>
    </div>
    <div class="article-list" style="margin-top:30px;background-color:#dfe8ee;">
        <div class="container">
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item"><img class="img-responsive" src="/static/assets/img/pool.jpg" style="height:195.234px;">
                    <h3 class="name">Swimming Pool</h3>
                    <p class="description">Kill the heat with our swimming Pool</p>
                    <a href="#" class="action"></a>
                </div>
                <div class="col-md-4 col-sm-6 item"><img class="img-responsive" src="{% static 'assets/img/c5.jpg' %}" style="height:195.234px;">
                    <h3 class="name">Resturant </h3>
                    <p class="description">With our 20+ International and 30+ Domestic flights everyday travel to your desired location cheaply and safely.</p>
                    <a href="#" class="action"></a>
                </div>
                <div class="col-md-4 col-sm-6 item"><img class="img-responsive" src="{% static 'assets/img/c3.jpg' %}" style="height:195.234px;">
                    <h3 class="name">We Make Your Stay Memorable</h3>
                    <p class="description">Our team works day and night to provide you best services. to make your stay comfortable and memorable</p>
                    <a href="#" class="action"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="background-color:#4f86c3;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>About the Company</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" style="width:30px;"></i>
                                <label>111 555 666</label>
                            </li>
                            <li><i class="glyphicon glyphicon-envelope" style="width:30px;"></i>
                                <label>111 555 666</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2016</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/myjs.js' %}"></script>
</body>

</html>