{% extends 'base.html' %}
{% load static %}




{% block content %}
    <title>User Profile</title>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>

    <div style="text-align:center;padding:40px;background:url(&quot;/static/assets/img/hotel3.jpg&quot;)no-repeat;background-size:cover;">

<div class="card" id="prof" style="background:#ffffff;margin-top:80px;">

    {% if user.profile.profilePicture is null %}
        <img id="profpic" src="/static/assets/img/profile.png" alt="John" style="width:100%;height:220px;">
    {% else %}
        <img id="profpic" src="{{ user.profile.profilePicture.url }}" alt="John" style="width:100%;height:220px;">
    {% endif %}

<div id="notification" style="text-align:center;"><h4 style="color:#00ff00;">{{ message }}</h4></div>

  <h1 id="profname">{{ user.first_name }}</h1>
  <p class="title" id="profemail">{{ user.email }}</p>

 <p><button onclick="editProfile()">Edit Profile</button></p>
<p><button onclick="changePassword()">Change Password</button></p>
</div>

<div class="card" id="edit" hidden style="background:#ffffff;margin-top:80px;">
<form method="POST" enctype='multipart/form-data'>
{% csrf_token %}
    {% if user.profile.profilePicture is null %}
        <a onclick="uploadImage()">
        <img src="/static/assets/img/profile.png" id="editpic" alt="John" style="width:100%;height:220px;">
        </a>
    {% else %}
        <a onclick="uploadImage()">
        <img src="{{ user.profile.profilePicture.url }}" id="editpic" alt="John" style="width:100%;height:220px;">
        </a>
    {% endif %}

  <input type="file" name="image" onchange="PreviewImage()" accept="image/*" id="imageinput" style="display: none">
  <h3><input id="editname" type="text" name="name" value="{{ user.first_name }}" placeholder="Name" required/></h3>
  <h3><input id="editemail" type="Email" name="email" value="{{ user.email }}" placeholder="Email" required/></h3>
{# <table style="width:100%">#}
{#  <tr>#}
{#    <td><p><button type="submit">Save</button></p></td>#}
{#    <td><p><button onclick="cancel()">Cancel</button></p></td>#}
{#  </tr>#}
{#</table>#}
<p><button type="submit">Save</button></p>
</form>
<p><button onclick="cancel()">Cancel</button></p>
</div>

    <div class="card" id="changepass" hidden style="background:#ffffff;margin-top:80px;">
<form method="POST" action="/changepassword/">
{% csrf_token %}
    {% if user.profile.profilePicture is null %}
        <img src="/static/assets/img/profile.png" id="editpic" alt="John" style="width:100%;height:220px;">
    {% else %}
        <img src="{{ user.profile.profilePicture.url }}" id="editpic" alt="John" style="width:100%;height:220px;">
    {% endif %}

  <h3><input type="Password" name="password" id="newpass" placeholder="New Password" required/></h3>
<p><button type="submit">Save</button></p>
</form>
<p><button onclick="cancelPassword()">Cancel</button></p>
</div>

    </div>

<script>
function editProfile() {
        document.getElementById("prof").hidden = true;
		document.getElementById("edit").hidden = false;
}
function changePassword() {
        document.getElementById("prof").hidden = true;
		document.getElementById("changepass").hidden = false;
}
function cancel() {
        document.getElementById("prof").hidden = false;
		document.getElementById("edit").hidden = true;
		document.getElementById("editname").value =document.getElementById("profname").innerHTML ;
		document.getElementById("editemail").value = document.getElementById("profemail").innerHTML;
		document.getElementById("editpic").src = document.getElementById("profpic").src;
        document.getElementById("imageinput").value="";
}
function cancelPassword() {
        document.getElementById("prof").hidden = false;
		document.getElementById("changepass").hidden = true;
		document.getElementById("newpass").value ="";

}
function uploadImage() {
        document.getElementById("imageinput").click();
}
function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("imageinput").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("editpic").src = oFREvent.target.result;
        };
    };
</script>
<script>
	$(document).ready(function() {
    setTimeout(function() {
        $("#notification").fadeOut(1500);
    }, 3000);


});
	</script>


{% endblock %}