{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
     <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>

<body>
    <nav class="navbar navbar-default navigation-clean-button" style="background-color:#4f86c3;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" style="color:#ffffff;">Cloud Hotel</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="#" style="color:#ffffff;"><strong>H</strong>ome </a></li>
                    <li role="presentation"><a href="/feedback" style="color:#ffffff;"><strong>F</strong>eedback </a></li>
                </ul>
                <p class="navbar-text navbar-right actions">
                    <a class="btn"  style="color:#ffffff;">{{ user.name }}</a>
                </p>
            </div>
        </div>
    </nav>
    <div style="text-align:center;padding:40px;background:url(&quot;/static/assets/img/hotel3.jpg&quot;)no-repeat;background-size:cover;">
        <h2>User Profile</h2>

<div class="card" id="prof" style="background:#ffffff">

    {% if user.profilePicture is null %}
        <img id="profpic" src="/static/assets/img/profile.png" alt="John" style="width:100%">
    {% else %}
        <img id="profpic" src="{{ user.profilePicture.url }}" alt="John" style="width:100%">
    {% endif %}

  <h1 id="profname">{{ user.name }}</h1>
  <p class="title" id="profemail">{{ user.email }}</p>

 <p><button onclick="editProfile()">Edit Profile</button></p>
</div>

<div class="card" id="edit" hidden style="background:#ffffff">
<form method="post">
    {% if user.profilePicture is null %}
        <input type="image" id="editpic" onclick="uploadImage()" src="/static/assets/img/profile.png" alt="John" style="width:100%">
    {% else %}
        <input type="image" id="editpic" onclick="uploadImage()" src="{{ user.profilePicture.url }}" alt="John" style="width:100%">
    {% endif %}

  <input type="file" name="image" onchange="PreviewImage()" accept="image/*" id="imageinput" style="display: none">
  <h3><input id="editname" type="text" name="name" placeholder="Name" required/></h3>
  <h3><input id="editemail" type="Email" name="email" placeholder="Email" required/></h3>
 <table style="width:100%">
  <tr>
    <td><p><button type="submit">Save</button></p></td>
    <td><p><button onclick="cancel()">Cancel</button></p></td>
  </tr>
</table>
</form>
</div>
    </div>
    <div class="footer-dark" style="background-color:#4f86c3;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>About the Company</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" style="width:30px;"></i>
                                <label>111 555 666</label>
                            </li>
                            <li><i class="glyphicon glyphicon-envelope" style="width:30px;"></i>
                                <label>111 555 666</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2016</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/myjs.js' %}"></script>
<script>
function editProfile() {
        document.getElementById("prof").hidden = true;
		document.getElementById("edit").hidden = false;
}
function cancel() {
        document.getElementById("prof").hidden = false;
		document.getElementById("edit").hidden = true;
		document.getElementById("editname").value =document.getElementById("profname").innerHTML ;
		document.getElementById("editemail").value = document.getElementById("profemail").innerHTML;
		document.getElementById("editpic").src = document.getElementById("profpic").src;
		document.getElementById("imageinput").reset();
}
function uploadImage() {
        document.getElementById("imageinput").click();
}
function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("imageinput").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("editpic").src = oFREvent.target.result;
        };
    };
</script>
</body>

</html>