{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>Rooms</title>
<div class="container" style="background-color:#e5e5ff;margin-top:200px;margin-bottom:20px;">
        <div class="intro">
            <h4 style="text-align:center;color:#ff0000;"><strong>{{ message }}</strong></h4>
            <h2 class="text-center">Our Rooms</h2>
            <p class="text-center">We have different kinds of rooms according to your requirements</p>
        </div>
        <div class="row articles">
            {% for room in rooms %}
            <div class="col-md-4 col-sm-6 item" style="margin-top:10px;outline:solid;outline-color:#4f86c3;">
                <div class="swiper-container" style="height:200px;width:300px;">
                    <div class="swiper-wrapper" style="height:inherit;">
                        {% for image in images %}
                            {% if image.roomType.id == room.id %}
                        <div class="swiper-slide" style="height:inherit;width:inherit;">
                             <img src="{{ image.image.url }}" style="height: 100%; width: 100%; object-fit: cover;">
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev" style="width:25px;height:22px;"></div>
                    <div class="swiper-button-next" style="width:25px;height:22px;"></div>
                </div>
                <h4 class="name" style="text-align:center;">{{ room.type}}</h4>
                <h4 class="name" style="text-align:center;">Price/Night: {{ room.price }}</h4>
                <p style="text-align:center;">{{ room.description }}</p>
                <div style="text-align:center;">
                    {% if room.roomService == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons">room_service</i>

                    </div>
                    {% endif %}
                {% if room.wifi == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons" style="margin:10px;">wifi</i>

                    </div>
                {% endif %}
                {% if room.freeBreakfast == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons" style="margin:10px;">free_breakfast</i>

                    </div>
                {% endif %}
                {% if room.minibar == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons" style="margin:10px;">local_bar</i>

                    </div>
                {% endif %}
                {% if room.laundaryService == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons" style="margin:10px;">local_laundry_service</i>

                    </div>
                {% endif %}
                {% if room.airConditioning == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons" style="margin:10px;">airplay</i>

                    </div>
                {% endif %}
                {% if room.poolFacility == True %}
                    <div style="display:inline-block;margin:2px;"><i class="material-icons" style="margin:10px;">pool</i>

                    </div>
                {% endif %}
                </div>
                <div style="text-align:center;">
                    <button onclick="bookingClicked({{ room.id }})" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bookingmodal" type="button" style="margin:auto;background-color:rgb(86,198,198);background-image:url(&quot;None&quot;);color:#ffffff;">Book Room</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" role="dialog" id="bookingmodal" tabindex="-1" data-aos="zoom-in">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"><strong>Select Dates</strong></h4></div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group" data-aos="fade-up">
                            <label class="control-label" for="from">Checkin </label>
                            <input class="form-control" type="date" name="checkin" id="from" onchange="setMinDate()" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="to">Checkout </label>
                            <input class="form-control" type="date" name="checkout" id="to" required>
                        </div>
                        <input name="id" id="roomid" type="text" hidden>
                        <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Book </button>
                </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/static/assets/js/Simple-Slider.js"></script>
    <script>
    var t=new Date();
    t.setDate(t.getDate()+1);
    var today = new Date(t).toISOString().split('T')[0];
    document.getElementById("from").setAttribute('min', today);
    document.getElementById("to").setAttribute('min', today);
    function bookingClicked(id) {
        document.getElementById("roomid").value = id;
}
function setMinDate() {
var t=document.getElementById("from").value;
var minDate=new Date(String(t));
minDate.setDate(minDate.getDate()+1);
var today = new Date(minDate).toISOString().split('T')[0];
document.getElementById("to").setAttribute('min', today);
}
    </script>
{% endblock %}